/* 
    Created on : 11 Nov 2020, 19:09:29
    Author     : ian
*/

/*  social medio menu  */
#social-media-menu{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(1,1fr);
    justify-items: center;
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 6em 0;
    text-align: center;
    font-weight: bolder;
}
#social-media-menu .icon{
    display: inline-block;
    border-radius: 100%;
    padding:5%;
    background: var(--pink);
    margin: 1.5em;
    font-size: 1.2em;
    color: var(--white);
}

#social-media-menu a .title{
    color: var(--pink);
    font-size: 1.5em;
    white-space: nowrap;
}
#social-media-menu a:hover .icon{
    background: var(--brownygrey);
}
#social-media-menu a:hover .title{
    color: var(--brownygrey);
}

/*********      QUOTATION SLIDER STYLE    **********************/
#quotation-slider{
    margin: 0 auto;
    width: 60%;
    max-width: 1000px;
    height: 35em;
    text-align: center;
}
#quotation-slider img{
    border-radius: 100%;
    width: 20%;
    margin: 1em;
}
#quotation-slider .quotation{
    background: var(--lightpink);
    border-radius: 5px;
    padding: 3%;
    font-size: 1.2em;
}
#quotation-slider .author{
    color: var(--darkpink);
    font-size: 2em;
}

/**************    FOOTER STYLE    ************************/
footer{
    background: white;
    font-size:1.5em;
}
footer .links{
    min-height: 100px;
    text-align: center;
    background: var(--brownygrey);
    color: white;
    padding: 2.5em 2.5em 0em 0em;
}
footer .links a{
    text-decoration: none;
    margin:1.5em;
    color: white;
}
footer .copyright{
    padding: 0.3em;
}
